version: '3.8'

services:
  nextjs-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nextjs-app
    network_mode: host
    environment:
      - NODE_ENV=production
      - HELLOPRO_API_URL=http://dev-api.hellopro.fr
    restart: unless-stopped